.navegacao {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.menu-principal {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-principal ul {
    display: flex;
    gap: 20px;
}

.menu-principal ul li a {
    font-family: 'Inter', sans-serif;
    color: #474747;
    transition: opacity 0.4 ease-in-out;
}

.menu-principal ul li a:hover {
    opacity: 0.7;
}

.aside-menu {
    display: flex;
    align-items: center;
    gap: 20px
}

.aside-menu .aside-menu__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.aside-menu .aside-menu__item a {
    transition: opacity 0.4 ease-in-out;
    font-size: 14px;
}

.aside-menu .aside-menu__item a:hover {
    opacity: 0.7;
}

.aside-menu .aside-menu__item a:nth-child(1) {
    color: #00BF8F;
    font-family: 'Inter', sans-serif;
}

.aside-menu .aside-menu__item a:nth-child(2) {
    font-family: 'Inter', sans-serif;
    color: #474747;
}