* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

#aviso-retratil {
    background-color: #FAAB43;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

#aviso-retratil p {
    color: #ffff;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

#aviso-retratil img {
    width: 20px;
    height: 20px;
    top: 0%;
    bottom: 0%;
}